<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Project Summary</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/projectsummary.css">
</head>

<body>

    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="text-muted" href="/">Return to Main Page</a>
                </div>
            </div>
        </header>

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">NBA Shot Analysis</h1>
                <p class="lead my-3">Using machine learning to predict successful shot conversion based on individual player choice and shooting position.</p>                
            </div>
        </div>

        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <h2 class="pb-3 mb-4 font-italic">Project Summary</h2>
                    <div class="blog-post">
                        <h2 class="blog-post-title">Proposal</h2>
                        <hr></hr>
                        <p>Given an assignment to explore machine learning as a final project we decided to see if we could use machine learning to predict individual player performance in the NBA 2017-2018 season.  The goal was to see how an individual player’s ability to convert a shot into a successful basket is impacted by the position on the court where the shot originates.</p>
                        <p>Obviously, there are many more variables to a successful shot conversion than the location the shot originates from and the player shooting--so many variables, in fact, that even Las Vegas oddsmakers don’t get outcomes right every time--so to accommodate for this we were hoping to achieve a target accuracy in the 65% range.</p> 

                        <h2 class="blog-post-title">Data Munging</h2>
                        <hr></hr>
                        <h3>The Clean-Up</h3>
                        <p>From <strong><a href="https://www.bigdataball.com/">BigDataBall</a></strong> we downloaded a comprehensive dataset listing every play for the 2017-2018 NBA regular season as well as playoffs. This data came as both individual files for each match of the season as well as a massive file that combined all the games into a single CSV.  Fortunately, the data was substantially uniform, so the time devoted to data cleaning was greatly reduced.</p>
                        <p>Initially we dropped the Description column as it was the largest column in the database and contained only string parameters that were better described in other columns.  Following this we performed a check to look for any non-numeric entries in our numeric variables and either corrected the entries or dropped them entirely.  We also dropped data that did not correspond with a shot being taken; rows that pertained to fouls, time-outs, substitutions, and the like.</p>
                        <p>Additionally, we created and incorporated multiple columns for shots converted, shots attempts, shooting accuracy, and a column containing unique numeric IDs for the player names that we could call on without standardizing names.  In order to eliminate outlying plays made by benchwarmers or players that were injured for a substantial portion of the season we also dropped any players that did not meet a minimum of 500 shot attempted for the season.</p>
                        <p>Once this was complete we had a trimmed down data set that could be loading into Python with Pandas.</p>
                        <p>Even though this dataset was substantially smaller than what we had started with initially it was still a very large file that gave us trouble when we first tried to work with it in Jupyter Notebook.  This was resolved by reading it in with Low Memory usage that left the columns types as strings or categories unless we specifically typed them otherwise.</p>
                        <hr></hr>
                        <h3>The Transformation</h3>
                        <p>Using the data that we’ve loaded into Jupyter Notebook we called on the unique player ID field, grouped by each player, stored these groupby variables in a new dataframe as tuples, and then again into a dictionary so that they could easily be called upon when needed.  After we stored the player ID as a dictionary we sent it to a list in order to iterate the list numerically.  Once this was completed we were able to separate all player information into specific dataframes and we were finally ready to begin modeling.</p>
                        <hr></hr>
                        <h3>The Education</h3>
                        <p>Now that we had unique player dataframes our next step was to run each dataframe through the model.  The dependent and independent variables were defined and using K Nearest Neighbors we looped through each variable splitting the data into our test and train models.  Within 3 Ks the test train values were coming back with an accuracy between 55%-70%.</p>
                        <p>Originally, we went with a higher K value (9) which was returning a consistent accuracy of 63%-66% however we found as an unintended consequence of this the results were too sensitive and would not give players true positives.</p>
                        <hr></hr>
                        <h3>The Flask</h3>
                        <p>In order for our models to be accessible by our restfulAPI we had to save them and reach them via a call to the API through our local sever.  To do this we imported a library called Pickle which saves the model (or any object) as a binary 0 or 1 sequence directly in Python but only for use within that language.  We saved all pickles with identical naming conventions only changing out individual player names to make future access easier.</p>
                        <p>The API call that we make takes values input by the user and combines them with constants that the user does not modify in order to return a decision about whether or not the shot was made.  The player’s name is then converted back to a format that matches the name used with the pickle.</p>
                        <p>Once we accessed the data we were able to run the model on our computers in seconds with the model returning a [0] or [1] when called on by the API based on whether or not the shot was successfully converted.</p>
                        <hr></hr>
                        <h3>The Website</h3>
                        <p>After the models and API were doing what we wanted them to do it was time to turn our attention to the user interface portion.  There were many ways, simpler ways, to have the user interact with our data but we chose to incorporate a graphic interface where the user could click on the court and watch as their responses were generated in real-time.</p>
                        <p>This was accomplished by locating and loading a png picture of a basketball court into HTML and then creating a EventListener function in JavaScript to get the element’s exact location to record on the console.  Due to a difference in size and scaling the results had to be divided by 10 so the values would match the values in the dataset. D3 was also used to create an amination of a basketball to appear on the mouse cursor when moved within the specific boundaries of the court image.</p>
                        <p>To prevent having an overly-long list of names we decided to use an autocomplete box to allow the user to type all or part of a name and receive immediate potential matches that could then be clicked upon.  This was done entirely in HTML. </p>
                        <hr></hr>
                        <h3>The Graphs</h3>
                        <p>Given that we had streamlined our data to maximize load efficiency and project accuracy there were a lot of fields from the original dataset that were dropped.  The reports section gave us an opportunity to explore other parts of the data and look for trends and explanations therein.  Going back to the original dataset we performed more clean-up to account for blank fields or fields with bad data.</p>
                        <p>This new, report-oriented, dataset was then loaded into Tableau Public so that we could visualize and explore concepts beyond our original project scope. By loading in the same court png image used in our HTML as a custom background map in Tableau we were able to generate a shot density map of where players most commonly took shots from and where they converted those shots.  It offered particularly good insight when it came to why certain players were consistently converting shots over what might be considered ‘better’ players.</p>
                        <h2 class="blog-post-title">Resources</h2>
                        <hr></hr>
                        <h4>Tools:</h4>
                        <ul>
                            <li>Jupyter Notebook</li>
                            <li>Microsoft Excel</li>
                            <li>Tableau Public</li>
                        </ul>
                        <h4>Languages:</h4>
                        <ul>
                            <li>CSS</li>
                            <li>HTML</li>
                            <li>JavaScript</li>
                            <li>JSON</li>
                            <li>Python</li>
                        </ul>
                        <h4>Libraries:</h4>
                        <ul>
                            <li>Bootstrap</li>
                            <li>CSV</li>
                            <li>D3</li>
                            <li>Flask</li>
                            <li>Numpy</li>
                            <li>Pandas</li>
                            <li>Pickle</li>
                        </ul>  

                        <h2 class="blog-post-title">Future Improvements</h2>
                        <hr></hr>
                        <p>With more time we would like to increase our machine learning model accuracy for individual players weighing probability of shot success to accommodate more variables.  We would also like to increase our focus from simple shot conversion to predict, with a reasonable 70% accuracy target, game winners. This would require trial and error with multiple types of machine learning processors to determine which one most suits the needs of our project goal. Once this foundation is set it is our belief that we could switch out the season data to predict any year’s outcome when the appropriate dataset is entered with minimal accommodation and data cleaning.</p>
                        <p>On the website user interactivity front we’d like to implement a game-like element where the user plays against the computer in a game of HORSE based on players chosen and locations picked on the map.  This would be accompanied by a more polished notification interface for made or missed shots.</p>
                        <p>It is our intention to continue working on the project even after the conclusion of the class, partly as way to improve our skills, but mainly because we really want to see this project borne out as we conceived it.</p>
                        
                        <!-- <pre><code>Example code block</code></pre> -->
                    </div><!-- /.blog-post -->
                </div><!-- /.blog-main -->

                <aside class="col-md-4 blog-sidebar">
                    <div class="p-3 mb-3 bg-light rounded">
                        <h4 class="font-italic">About the Analysts</h4>
                        <p class="mb-0" id="about"><strong>Michael Lubin</strong> is a data analyst specializing in frontend webcreation and data integration.  Working with MySQL, HTML, CSS, and JavaScript.
                        <p class="mb-0" id="about"><strong>Melissa Medina</strong> is a data analyst with eight years of
                            professional experience specializing in data management, cleanup, and efficiency. Working with Excel, Python, and JavaScript. Currently the Data Analyst for the Document Management team at FIS.</p>                        
                        <p class="mb-0" id="about"><strong>Pablo Barbatto</strong> is a data analyst specializing in backend database creation and management.  Working with MySQL, JavaScript, Python, and numerous sublibraries.</p>
                    </div>

                    <div class="p-3">
                        <h4 class="font-italic">Find Us On:</h4>
                        <ol class="list-unstyled">
                            <li><strong>GitHub</strong></li>
                            <li><a href="https://github.com/mlubin2">Michael Lubin</a></li>
                            <li><a href="https://github.com/Melissa13Medina/">Melissa Medina</a></li>
                            <li id="link"><a href="https://github.com/PabloBarbatto/">Pablo Barbatto</a></li>
                            <li><strong>LinkedIn</strong></li>
                            <li><a href="https://www.linkedin.com/in/lubinmichael/">Michael Lubin</a></li>
                            <li><a href="https://www.linkedin.com/in/melissa13medina">Melissa Medina</a></li>
                            <li id="https://www.linkedin.com/in/barbatto/"><a href="#">Pablo Barbatto</a></li>
                        </ol>
                    </div>
                </aside><!-- /.blog-sidebar -->

            </div><!-- /.row -->

        </main><!-- /.container -->

        <footer class="blog-footer">
            <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>Modified by Michael Lubin, Melissa Medina, and Pablo Barbatto</p>

        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script>
            window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
        </script>

</body>

</html>